<%- include('partials/header') %>
<main>
    <h1>Welcome to Page 1</h1>
    <p>This is the content of page 1.</p>
    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <textarea name="message" placeholder="Message"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</main>
<%- include('partials/footer') %>