<%- include('partials/header') %>
<main>
    <h1>Test</h1>
    <form method="post" action="/test">
        Name: <input type="text" name="name" required>
        <br>
        Email: <input type="email" name="email" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</main>
<%- include('partials/footer') %>

